<h1>Tasks Index</h1>

<%= link_to 'Customers', customers_path %>

<% @tasks.each do |t| %>
<ul>
	<li><%= t.task_name %></li>
	<%= link_to 'New Time Entry', new_task_timeentry_path(t) %>
</ul>

<% end %>
