<h1>New Task</h1>

<%= form_for @t do |f| %>

	<p>
		<%= f.collection_select(:project_id, Project.all, :id, :project_name) %>
	</p>
	
	<p>
		<%= f.text_field :task_name, placeholder: 'task name' %>
	</p>

	<p>	
		<%= f.submit %>
	</p>
<% end %>