<h2>User Documentation</h2>

<h4>Time Tracker</h4>

<p>This app gives the user the ability to easily and coveniently enter their projects hours any time, day or night and for the home office to be able to produce up-to date reports 24-7. Customers are already loaded into database so you can create projects for customers and link them to time entries. The User has an individual login for security purposes.</p>

<h4>Capabilities</h4>

<ul>
	<li>employee login</li>
	<li>log when work was done (date and time)</li>
	<li>link customer to project adn time entry</li>
	<li>record the user who worked on the project</li>
	<li>record how long the task took</li>
	<li>record notes for time entries</li>
	<li>manually enter in hours for tasks</li>
</ul>

