<h1>Welcome to Track the Time Homey</h1>
<p>
	<%= link_to 'User Documentation', doc_path %>
</p>

<%= link_to 'Customers', customers_path %>

<%= link_to 'Timeentries', timeentries_path %>

<%= link_to 'Tasks', tasks_path %>